
<p-toolbar class="py-2! bg-slate-800! text-surface-100! border-none! rounded-none!">
    <ng-template #start>
      <div class="flex items-center gap-4">
        <i
          class="pi pi-bars cursor-pointer"
          (click)="toggleSidebar()">
        </i>
        <p class="">Dates System</p>
      </div>
    </ng-template>
    <ng-template #center>
    </ng-template>
    <ng-template #end>
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '32px', height: '32px' }" />
    </ng-template>
</p-toolbar>
